.module-listing-table {
  width: 100%;
  border-collapse: collapse;
}

.module-listing-table th, .module-listing-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.module-listing-module {
  width: 70%;
}

.module-listing-status {
  width: 30%;
}
.module-listing-table th {
  background-color: #f5f5f5;
  font-weight: bold;
  padding: 10px;
}
.module-count {
  font-weight: bold;
  background-color: #e0e0e0;
  padding: 10px;
}
.module-type-header {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #d0d0d0;
  padding: 10px;
}
.module-counts {
  font-size: 1.2em; /* Increase font size */
  font-style: italic; /* Make text italic */
}

.module-counts::before {
  content: "*"; /* Add asterisk before the text */
  font-weight: bold; /* Make asterisk bold */
  margin-right: 5px; /* Add spacing between asterisk and text */
}
